.venv/
.venv-1/
.venv*/


# ignore __PyCache__ directories
__pycache__/

#ignore csv file
*.csv

# ignore log files
*.log
*/logs/

# ignore zip files
*.zip

#ignore parquet files
*.parquet

# ignore p8 files
*.p8